/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 30, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 33, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 36, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 39, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 42, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 5, ../_sass/article.scss */
article {
  padding: 15px;
  margin-bottom: 20px;
}
/* line 9, ../_sass/article.scss */
article h1 {
  color: #34495e;
  margin: 13px 0;
}
/* line 14, ../_sass/article.scss */
article p i.fa {
  margin-right: 5px;
}
/* line 18, ../_sass/article.scss */
article a.read-more {
  font-size: 1.125em;
  line-height: 1.44444em;
  display: inline-block;
  text-decoration: none;
  background-color: #34495e;
  color: #ecf0f1;
  margin-top: 22px;
  padding: 13px 26px;
}
