/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #34495e;
}

/* line 31, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 34, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 37, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 40, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 43, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 46, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 6, ../_sass/article.scss */
article {
  padding: 16px;
  margin-bottom: 26px;
}
/* line 10, ../_sass/article.scss */
article h1 {
  color: #34495e;
  margin: 13px 0;
}
/* line 15, ../_sass/article.scss */
article p i.fa {
  margin-right: 5px;
}
/* line 19, ../_sass/article.scss */
article a.read-more {
  font-size: 1.125em;
  line-height: 1.44444em;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #34495e;
  color: #ecf0f1;
  margin-top: 22px;
  padding: 13px 26px;
}
@media (min-width: 480px) {
  /* line 19, ../_sass/article.scss */
  article a.read-more {
    display: inline-block;
  }
}
