/* line 6, ../_sass/header.scss */
header {
  margin: 20px 10px;
  font-family: "Montserrat";
  font-weight: 400;
}
/* line 11, ../_sass/header.scss */
header h1 {
  font-size: 1.8em;
  text-align: center;
  color: #2c3e50;
  letter-spacing: 5px;
}
@media (min-width: 480px) {
  /* line 11, ../_sass/header.scss */
  header h1 {
    font-size: 2.9em;
  }
}
@media (min-width: 768px) {
  /* line 11, ../_sass/header.scss */
  header h1 {
    font-size: 3.2em;
  }
}
@media (min-width: 1024px) {
  /* line 11, ../_sass/header.scss */
  header h1 {
    font-size: 3.9em;
  }
}
/* line 27, ../_sass/header.scss */
header h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #34495e;
}
@media (min-width: 480px) {
  /* line 27, ../_sass/header.scss */
  header h3 {
    font-size: 1.8em;
  }
}
@media (min-width: 768px) {
  /* line 27, ../_sass/header.scss */
  header h3 {
    font-size: 2.4em;
  }
}
@media (min-width: 1024px) {
  /* line 27, ../_sass/header.scss */
  header h3 {
    font-size: 2.7em;
  }
}
