/* line 6, ../_sass/navigation.scss */
#nav-wrapper {
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 6, ../_sass/navigation.scss */
  #nav-wrapper {
    background-color: #2c3e50;
  }
}

/* line 13, ../_sass/navigation.scss */
#navigation {
  background-color: #2c3e50;
  display: none;
}
@media (min-width: 768px) {
  /* line 13, ../_sass/navigation.scss */
  #navigation {
    display: block;
    text-align: center;
  }
}
/* line 22, ../_sass/navigation.scss */
#navigation ul {
  overflow: hidden;
}
@media (min-width: 768px) {
  /* line 25, ../_sass/navigation.scss */
  #navigation ul li {
    display: inline-block;
    text-align: center;
  }
}
/* line 32, ../_sass/navigation.scss */
#navigation ul li a {
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2em;
  padding: 15px 0 15px 30px;
}
@media (min-width: 768px) {
  /* line 32, ../_sass/navigation.scss */
  #navigation ul li a {
    padding: 20px;
  }
}
/* line 44, ../_sass/navigation.scss */
#navigation ul li a:hover {
  background-color: #34495e;
}

/* line 52, ../_sass/navigation.scss */
#nav-toggle {
  display: block;
  float: right;
  color: #2c3e50;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  /* line 52, ../_sass/navigation.scss */
  #nav-toggle {
    display: none;
  }
}
