/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #34495e;
}

/* line 31, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 34, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 37, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 40, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 43, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 46, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../_sass/screen.scss */
body {
  background-color: #ecf0f1;
  border-top: 10px solid #34495e;
  font-family: "Lato", sans-serif;
}
/* line 18, ../_sass/screen.scss */
body a {
  text-decoration: none;
  color: #34495e;
  font-weight: 900;
  font-style: italic;
}

/* line 26, ../_sass/screen.scss */
#navigation, footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 30, ../_sass/screen.scss */
#wrapper {
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 30, ../_sass/screen.scss */
  #wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  /* line 30, ../_sass/screen.scss */
  #wrapper {
    width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  /* line 42, ../_sass/screen.scss */
  #content {
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}

/* line 48, ../_sass/screen.scss */
hr {
  height: 1px;
  background-color: #2c3e50;
  border: none;
}

/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #34495e;
}

/* line 31, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 34, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 37, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 40, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 43, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 46, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 6, ../_sass/navigation.scss */
#nav-wrapper {
  overflow: hidden;
}
@media (min-width: 992px) {
  /* line 6, ../_sass/navigation.scss */
  #nav-wrapper {
    background-color: #2c3e50;
  }
}

/* line 13, ../_sass/navigation.scss */
#navigation {
  background-color: #2c3e50;
  display: none;
}
@media (min-width: 768px) {
  /* line 13, ../_sass/navigation.scss */
  #navigation {
    display: block;
    text-align: center;
  }
}
/* line 22, ../_sass/navigation.scss */
#navigation ul {
  overflow: hidden;
}
@media (min-width: 768px) {
  /* line 24, ../_sass/navigation.scss */
  #navigation ul li {
    display: inline-block;
    text-align: center;
    margin-left: -3px;
  }
}
/* line 31, ../_sass/navigation.scss */
#navigation ul li a {
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  font-weight: 300;
  padding: 15px 0 15px 30px;
}
@media (min-width: 768px) {
  /* line 31, ../_sass/navigation.scss */
  #navigation ul li a {
    padding: 20px;
  }
}
/* line 41, ../_sass/navigation.scss */
#navigation ul li a:hover, #navigation ul li a.active {
  background-color: #34495e;
}

/* line 48, ../_sass/navigation.scss */
#nav-toggle {
  display: block;
  float: right;
  color: #2c3e50;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  /* line 48, ../_sass/navigation.scss */
  #nav-toggle {
    display: none;
  }
}

/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #34495e;
}

/* line 31, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 34, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 37, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 40, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 43, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 46, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 6, ../_sass/header.scss */
header {
  margin: 20px 10px;
}
@media (min-width: 768px) {
  /* line 6, ../_sass/header.scss */
  header {
    margin: 100px 0;
  }
}
/* line 12, ../_sass/header.scss */
header h1 {
  font-size: 3.6875em;
  line-height: 1.32203em;
  text-align: center;
  color: #2c3e50;
  font-weight: 700;
}
/* line 19, ../_sass/header.scss */
header h3 {
  text-align: center;
  color: #34495e;
  font-weight: 300;
}
/* line 25, ../_sass/header.scss */
header #logos {
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 25, ../_sass/header.scss */
  header #logos {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  /* line 25, ../_sass/header.scss */
  header #logos {
    margin-top: 40px;
  }
}
/* line 36, ../_sass/header.scss */
header #logos img {
  max-width: 2em;
  margin: 0 5px;
}
@media (min-width: 480px) {
  /* line 36, ../_sass/header.scss */
  header #logos img {
    max-width: 2.5em;
  }
}
@media (min-width: 768px) {
  /* line 36, ../_sass/header.scss */
  header #logos img {
    margin: 0 10px;
    max-width: 3em;
  }
}
@media (min-width: 992px) {
  /* line 36, ../_sass/header.scss */
  header #logos img {
    margin: 0 15px;
    max-width: 4em;
  }
}

/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #34495e;
}

/* line 31, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 34, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 37, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 40, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 43, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 46, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 6, ../_sass/sidebar.scss */
#sidebar {
  text-align: center;
  background-color: #34495e;
}
@media (min-width: 992px) {
  /* line 6, ../_sass/sidebar.scss */
  #sidebar {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 13, ../_sass/sidebar.scss */
#sidebar #social-links {
  padding: 15px;
}
/* line 16, ../_sass/sidebar.scss */
#sidebar #social-links h3, #sidebar #social-links a {
  color: #ecf0f1;
}
/* line 20, ../_sass/sidebar.scss */
#sidebar #social-links a {
  text-decoration: none;
  text-align: center;
}
/* line 25, ../_sass/sidebar.scss */
#sidebar #social-links .fa {
  font-size: 4em;
}
@media (min-width: 1200px) {
  /* line 25, ../_sass/sidebar.scss */
  #sidebar #social-links .fa {
    font-size: 5em;
  }
}

/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #34495e;
}

/* line 31, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 34, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 37, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 40, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 43, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 46, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 6, ../_sass/article.scss */
article {
  padding: 16px;
  margin-bottom: 26px;
}
/* line 10, ../_sass/article.scss */
article h1 {
  color: #34495e;
  margin: 13px 0;
}
/* line 15, ../_sass/article.scss */
article p {
  margin-bottom: 10px;
}
/* line 19, ../_sass/article.scss */
article p i.fa {
  margin-right: 5px;
}
/* line 23, ../_sass/article.scss */
article a.read-more {
  font-size: 1.125em;
  line-height: 1.44444em;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #34495e;
  color: #ecf0f1;
  margin-top: 22px;
  padding: 13px 26px;
}
@media (min-width: 480px) {
  /* line 23, ../_sass/article.scss */
  article a.read-more {
    display: inline-block;
  }
}
/* line 37, ../_sass/article.scss */
article ul, article ol {
  margin-bottom: 10px;
}
/* line 39, ../_sass/article.scss */
article ul li, article ol li {
  margin-left: 25px;
}
/* line 43, ../_sass/article.scss */
article ul li:before, article ol li:before {
  font-family: "FontAwesome";
  color: #34495e;
  font-weight: bold;
  content: "\f105 \0020";
}
/* line 51, ../_sass/article.scss */
article blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/* line 58, ../_sass/article.scss */
article blockquote ul li:before, article blockquote ol li:before {
  color: #ccc;
}
/* line 63, ../_sass/article.scss */
article blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #34495e;
}

/* line 31, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 34, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 37, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 40, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 43, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 46, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 4, ../_sass/pagination.scss */
.pagination {
  overflow: hidden;
  padding: 0 16px;
}
/* line 8, ../_sass/pagination.scss */
.pagination #page-links {
  text-align: center;
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 17.02128%;
  clear: none;
}
/* line 13, ../_sass/pagination.scss */
.pagination span.next, .pagination a.next, .pagination span.prev, .pagination a.prev {
  padding: 10px 25px;
  background-color: #2c3e50;
}
/* line 18, ../_sass/pagination.scss */
.pagination span.prev, .pagination span.next {
  color: #95a5a6;
}
/* line 22, ../_sass/pagination.scss */
.pagination a.next, .pagination a.prev {
  color: #ecf0f1;
}
/* line 26, ../_sass/pagination.scss */
.pagination span.next, .pagination a.next {
  text-align: center;
  width: 14.89362%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 31, ../_sass/pagination.scss */
.pagination span.prev, .pagination a.prev {
  text-align: center;
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
