/* line 61, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 27, ../_sass/base.scss */
h1 {
  font-size: 2.625em;
  line-height: 1.2381em;
}

/* line 30, ../_sass/base.scss */
h2 {
  font-size: 2.3125em;
  line-height: 1.40541em;
}

/* line 33, ../_sass/base.scss */
h3 {
  font-size: 1.8125em;
  line-height: 1.7931em;
}

/* line 36, ../_sass/base.scss */
h4 {
  font-size: 1.375em;
  line-height: 1.18182em;
}

/* line 39, ../_sass/base.scss */
h5 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 42, ../_sass/base.scss */
h6 {
  font-size: 0.8125em;
  line-height: 2em;
}

/* line 6, ../_sass/sidebar.scss */
#sidebar {
  text-align: center;
  background-color: #34495e;
}
@media (min-width: 992px) {
  /* line 6, ../_sass/sidebar.scss */
  #sidebar {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 13, ../_sass/sidebar.scss */
#sidebar #social-links {
  padding: 15px;
}
/* line 16, ../_sass/sidebar.scss */
#sidebar #social-links h3, #sidebar #social-links a {
  color: #ecf0f1;
}
/* line 20, ../_sass/sidebar.scss */
#sidebar #social-links a {
  text-decoration: none;
  text-align: center;
}
