---
layout: default
title: 6LTM--Home
---

<div id="content">
  <!-- blog entries -->
  {% for post in paginator.posts %}
  <article>
    <h1>{{ post.title }}</h1>
    <p><i class="fa fa-clock-o"></i>Erstellt am {{ post.date | date_to_long_string }}</p>
    <p>
      {{ post.excerpt }}
    </p>
    <a class="read-more" href="{{ post.url }}">Mehr Lesen <span class="glyphicon glyphicon-chevron-right"></span></a>
  </article>
  {% endfor %}


  <!-- pager -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev"><i class="fa fa-angle-left"></i> Prev</a>
    {% else %}
    <span class="prev"><i class="fa fa-angle-left"></i> Prev</span>
    {% endif %}

    <div id="page-links">
      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <em>{{ page }}</em>
      {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next <i class="fa fa-angle-right"></i></a>
    {% else %}
    <span class="next">Next <i class="fa fa-angle-right"></i></span>
    {% endif %}
  </div>
  {% endif %}
</div>

<div id="sidebar">
  <div id="social-links">
    <h3>Social Stuff</h3>
    <a href="http://www.github.com/6ltm"><i class="fa fa-github"></i></a>
    <a href="http://www.twitter.com/rakin05"><i class="fa fa-twitter"></i></a>
    <a href="mailto:felixklotzsche@gmail.com"><i class="fa fa-envelope"></i></a>
  </div>
</div>
