<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Felix Klotzsche">
    <meta name="google-site-verification" content="rKSLzTpS25IlPaiDuN6P6jN0xqYzzk7WgPMY1ZMHIU4" />

    <title>{{ page.title }}</title>

    <!-- Fontawesome CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/screen.css" rel="stylesheet">

  </head>

  <body>

    {% include navbar.html %}
