<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Felix Klotzsche">
    <meta name="google-site-verification" content="rKSLzTpS25IlPaiDuN6P6jN0xqYzzk7WgPMY1ZMHIU4" />

    <title>{{ page.title }}</title>

    <!-- Fontawesome CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Lato font from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="/css/screen.css" rel="stylesheet">

  </head>

  <body>

    {% include navbar.html %}

    <header>
       <h1>Six Languages to master</h1>
       <h3>Adventures in the Land of programming</h3>
       <section id="logos">
         <img src="/img/python.png" alt="python-logo"/>
         <img src="/img/c.png" alt="c-logo"/>
         <img src="/img/js.png" alt="js-logo"/>
         <img src="/img/clojure.png" alt="clojure-logo"/>
         <img src="/img/scala.png" alt="scala-logo"/>
         <img src="/img/haskell.png" alt="haskell-logo"/>
       </section>
    </header>
