@import "compass/typography";
@import "breakpoint";

@import "base";

article{
    padding: $base-font-size;
    margin-bottom: $base-line-height;

    h1{
        color: $base1;
        margin: $base-line-height/2 0;
    }

    p i.fa{
        margin-right: 5px;
    }

    a.read-more{
        @include adjust-font-size-to(18px);
        display: block;
        text-align: center;
        @include breakpoint($phone){
            display: inline-block;
        }
        text-decoration: none;
        background-color: $base1;
        color: $base5;
        margin-top: 22px;
        padding: $base-line-height/2 $base-line-height;
    }

    ul{
        li{
            margin-left: 25px;
        }

        li:before{
            font-family: "FontAwesome";
            color: $base1;
            font-weight: bold;
            content: "\f105 \0020";
        }
    }
}
