@import "compass/typography";
@import "compass/css3/images";
@import "compass/utilities/color/contrast";
@import "breakpoint";

@import "base";

article{
    padding: $base-font-size;
    margin-bottom: $base-line-height;

    h1{
        color: $base1;
        margin: $base-line-height/2 0;
    }

    p{
        margin-bottom: 10px;
    }

    p i.fa{
        margin-right: 5px;
    }

    a.read-more{
        @include adjust-font-size-to(18px);
        display: block;
        text-align: center;
        @include breakpoint($phone){
            display: inline-block;
        }
        text-decoration: none;
        @include background-image(linear-gradient($base1, darken($base1, 10%)));
        color: $base5;
        margin-top: 22px;
        padding: $base-line-height/2 $base-line-height;
    }

    ul, ol{
        margin-bottom: 10px;
        li{
            margin-left: 25px;
        }

        li:before{
            font-family: "FontAwesome";
            color: $base1;
            font-weight: bold;
            content: "\f105 \0020";
        }
    }

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        ul, ol{
            li:before{
                color: #ccc;
            }
        }
    }
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
}
