@import "base";

@import "singularitygs";
@import "breakpoint";

header{
    margin: 20px 10px;
    @include breakpoint($tablet){
	margin: 100px 0;
    }

    h1{
        @include adjust-font-size-to(59px);
	text-align: center;
	color: $base2;
        font-weight: 700;
    }

    h3{
	text-align: center;
	color: $base1;
        font-weight: 300;
    }

    #logos{
        margin-top: 20px;
        text-align: center;

        @include breakpoint($tablet){
            margin-top: 30px;
        }
        @include breakpoint($desktop){
            margin-top: 40px;
        }

        img{
            max-width: 2em;
            margin: 0 5px;

            @include breakpoint($phone){
                max-width: 2.5em;
            }
            @include breakpoint($tablet){
                margin: 0 10px;
                max-width: 3em;
            }
            @include breakpoint($desktop){
                margin: 0 15px;
                max-width: 4em;
            }
        }
    }
}
