@import "singularitygs";
@import "base";

.pagination{
    overflow: hidden;
    padding: 25px 16px;

    #page-links{
        text-align: center;
        @include grid-span(8, 3);
    }

    span.next, a.next, span.prev, a.prev{
        padding: 13px 26px;
        background-color: $base2;
    }

    span.prev, span.next{
        color: $base3;
    }

    a.next, a.prev{
        color: $base5;
    }

    span.next, a.next{
        text-align: center;
        @include grid-span(2, 11);
    }

    span.prev, a.prev{
        text-align: center;
        @include grid-span(2, 1);
    }
}
