/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

@import "compass/reset";
@import "compass/css3/images";

@import "singularitygs";
@import "breakpoint";

body{
    @include background(linear-gradient($base5, darken($base5, 5%) ,darken($base5, 10%)));
    border-top: 10px solid $base1;
    font-family: "Lato", sans-serif;

    a{
        text-decoration: none;
        color: $base1;
        font-weight: 900;
        font-style: italic;
    }
}

#navigation, footer{
    @include grid-span(12,1);
}

#wrapper{
    overflow: hidden;
    @include breakpoint($desktop){
        width: 960px;
        margin: 0 auto;
    }
    @include breakpoint($wide-desktop){
        width: 1140px;
        margin: 0 auto;
    }

    padding-bottom: 50px;
    border-bottom: 1px solid $base4;
}

#content{
    @include breakpoint($desktop){
        @include grid-span(9,1,12);
    }
}

hr{
    height: 1px;
    background-color: $base2;
    border: none;
}

// import the navigation styles
@import "navigation";

// import the styles for the header
@import "header";

// import the styles for the sidebar
@import "sidebar";

// import the styling for articles
@import "article";

// import the styling for pagination
@import "pagination";

// import the styling for category page
@import "categories";

// import the styling for footer
@import "footer"
