/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

@import "compass/reset";

@import "singularitygs";
@import "breakpoint";

body{
	background-color: $base5;
	border-top: 10px solid $base1;
}

#navigation, #wrapper, footer{
	@include grid-span(12,1);
}

#content, #sidebar{
	padding: 25px
}

// import the navigation styles
@import "navigation";

// import the styles for the header
@import "header";
